upstream {{ item.key }} {
{% for server in groups.webservers %}
  server {{ server }}:{{ item.value.backend }} ;
{% endfor %}
}

server {
    listen {{ item.value.frontend }} ;

    location / {
        proxy_pass http://{{ item.key }} ;
    }
}